<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MangaSatis</display-name>
  <welcome-file-list>
    <welcome-file>musteriLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/musteriLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/giris</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <jsp-file>/musteriRegister.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/kayitOl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MusteriIndex</servlet-name>
    <jsp-file>/musteriIndex.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusteriIndex</servlet-name>
    <url-pattern>/anasayfa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MusteriMangalar</servlet-name>
    <jsp-file>/mangalar.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusteriMangalar</servlet-name>
    <url-pattern>/mangalar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Manga</servlet-name>
    <jsp-file>/mangayiGoster.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manga</servlet-name>
    <url-pattern>/manga</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MusteriSiparis</servlet-name>
    <jsp-file>/musteriSiparis.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusteriSiparis</servlet-name>
    <url-pattern>/siparislerim</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sepet</servlet-name>
    <jsp-file>/sepet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sepet</servlet-name>
    <url-pattern>/sepetim</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MangaTur</servlet-name>
    <jsp-file>/mangaTur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MangaTur</servlet-name>
    <url-pattern>/tureGore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MangaYayinEvi</servlet-name>
    <jsp-file>/mangaYayinevi.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MangaYayinEvi</servlet-name>
    <url-pattern>/yayinEvineGore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <jsp-file>/adminLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/yoneticiPaneli</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndex</servlet-name>
    <jsp-file>/adminIndex.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndex</servlet-name>
    <url-pattern>/siparisler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMangalar</servlet-name>
    <jsp-file>/adminMangalar.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMangalar</servlet-name>
    <url-pattern>/urunler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MangaEkle</servlet-name>
    <jsp-file>/mangaEkle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MangaEkle</servlet-name>
    <url-pattern>/mangaEkle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MangaGüncelle</servlet-name>
    <jsp-file>/mangaGuncelle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MangaGüncelle</servlet-name>
    <url-pattern>/mangaGuncelle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TurYayinEviEkle</servlet-name>
    <jsp-file>/turYayineviEkle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TurYayinEviEkle</servlet-name>
    <url-pattern>/turYayinEviEkle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Musteriler</servlet-name>
    <jsp-file>/musteriler.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Musteriler</servlet-name>
    <url-pattern>/musteriler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MusteriGuncelle</servlet-name>
    <jsp-file>/musteriGuncelle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusteriGuncelle</servlet-name>
    <url-pattern>/musteriGuncelle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DefaultServletOverride</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>listings</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultServletOverride</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>